<%- include('header')%>
<%- include('menu')%>
<div class="container">
        <div class="container index">
            <div class="container search ">
                <form class="form-inline text-right">
                         <a href="/forum/<%= forums.id %>/new"><i class="fa fa-plus" aria-hidden="true"></i></a>
                         <input class="form-control mr-sm-2 " type="search" placeholder="Szöveg..." aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0 " type="submit">Keresés</button>
                      </form>
                </div>      
                <h3><%= forums.title  %></h3>   
                <% forums.forums.forEach(function(data) { %>
                    <div class="container">
                        <div class="row">
                            <div class="col-12 headforum">
                              <a href="/forum/<%= forums.id %>/<%= data.id %>"><h1 class="h1-content"><%= data.forumname%> </h1></a>  
                            </div>
                        </div>
                    </div>
                <%  }); %>  
        </div> 
</div>
<%- include('footer')%>
