<%- include('header')%>
<%- include('menu')%>
<div class="container">
        <div class="container index">
                <h4 class="pt-2"><%- include('msg')%></h4> 
                      <%- include('user/interface') %>    
                <% content.forEach(function(data) { %>
                        <div class="container">
                                <div class="row">
                                        <div class="headforum col-12">
                                                <a href="<%= data.id%>/"><h1><%= data.title%></h1></a>
                                                  <p><%= data.desc%></p>
                                        </div>
                                </div>
                        </div>       
                <%  }); %>  
        </div>
        
</div>
<%- include('footer')%>
