<%- include('header')%>
<%- include('menu')%>
<div class="container">
        <div class="container index">
                <div class="container search">
                        <form class="form-inline text-right">
                                <a href="/forum/newcontent/" class="btn btn-primary mr-3">Új tartalom</a>
                        <input class="form-control mr-sm-2 " type="search" placeholder="Szöveg..." aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0 " type="submit">Keresés</button>
                      </form>
                </div>         
                <% content.forEach(function(data) { %>
                        <div class="container">
                                <div class="row">
                                        <div class="headforum col-12">
                                                <a href="<%= data.id%>/"><h1><%= data.title%></h1></a>
                                                  <p><%= data.desc%></p>
                                        </div>
                                </div>
                        </div>       
                <%  }); %>  
        </div>
        
</div>
<%- include('footer')%>
