<%- include('header')%>
<%- include('menu')%>
<div class="container ">
        <div class=" index">
                <div class="container search ">
                        <form class="form-inline text-right">
                        <input class="form-control mr-sm-2 " type="search" placeholder="Szöveg..." aria-label="Search">
                        <button class="btn btn-dark my-2 my-sm-0 " type="submit">Keresés</button>
                      </form>
                </div>
                <%- include('msg')%>
                <div class="container d-inline pb-5">
                    <div class="row">
                        <div class="col-12 text-center d-inline-flex ">
                            <div class="col-3 bg-dark p-1 profile">
                             <p><%= data.topic.author %></p>
                                 <img class="img-fluid topic-img" src="<%= data.topic.img %> " alt="profil-image">
                                 <div class="p-1">
                                    <%- include('user/rank')%>
                                 </div>
                            </div>
                            <div class="col-9 showtopic p-3 ">
                                <h1 class="p-1"><%= data.topic.title %></h1>                            
                             <p class="p-1 pt-3">Létrehozva: <%= moment(data.topic.date, "YYYYMMDD").fromNow()%></p>
                             <p class="p-1 show-desc"><%= data.topic.desc %></p>
                             <% if(data.topic.author === user.username) { %>
                             <div class="d-flex align-items-end justify-content-end " style="height: 200px;">
                                <a title="Módosítás" href="/forum/<%= data.contentid %>/<%= data.forumid %>/<%= data.topicid %>/edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                <a title="Törlés" href="/forum/<%= data.contentid %>/<%= data.forumid %>/<%= data.topicid %>/delete" ><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                              </div>
                              <% }%>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mt-5">
                    <div class="row">
                        <div class="col-12 text-center">
                             <% data.topic.comments.forEach(function(comment){ %>
                                <div class="mb-3 row">
                             <div class="col-3 bg-dark profile">
                                 <div class="mb-3">
                                <p class="pt-2"> <%= comment.author %> </p>
                                 </div>
                                <div class="pb-3">
                                    <img class="img-fluid topic-img" src="<%= comment.img %> " alt="profil-image">
                                    <div class="p-1">
                                        <%- include('user/rank')%>
                                     </div>
                                </div>
                             </div>
                             <div class="col-9 p-3 showcomments">
                                <p class="p-content p-1">Elküldve: <%= moment(comment.date, "YYYYMMDD").fromNow() %>  </p>
                                <p class=" p-1 show-desc"> <%= comment.desc %> </p>
                                <% if(comment.author === user.username) { %>
                                <div class="d-flex align-items-end justify-content-end" style="height: 200px;">
                                    <a title="Módosítás" href="/forum/<%= data.contentid %>/<%= data.forumid %>/<%= data.topicid %>/<%= comment.id%>/edit" ><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                    <a title="Törlés" href="/forum/<%= data.contentid %>/<%= data.forumid %>/<%= data.topicid %>/<%= comment.id%>/delete"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                  </div>
                                  <% }%>
                             </div>
                            </div>
                            <% }) %>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container ">
                    <div class=" index">
                            <h2 class="text-center">Új hozzászólás</h2>
                            <div class="container pb-5 mb-5">
                                <div class="row justify-content-center">
                                    <div class="col-8">
                                            <form action="/forum/<%= data.contentid %>/<%= data.forumid %>/<%= data.topicid %>/newcomment" method="POST" role="form" autocomplete="off">
                                                <input class="form-control" type="hidden" name="author" value="<%= user.username %>">
                                                <input class="form-control" type="hidden" name="img" value="<%= user.img %>">
                                                <textarea cols="100" rows="15" class="form-control mytext" type="text" name="desc" placeholder="szöveg..." ></textarea>
                                                <button class="btn btn-dark btn-block mb-3">Küldés</button>
                                            </form>
                                        </div> 
                                </div>
                            </div>
                    </div>
            </div>      
               
        </div> 
</div>
<%- include('footer')%>