<%- include('../header')%>
<%- include('../menu')%>
<div class="container">
        <div class="container index">
                <h2 class="text-center">Profilkép Módosítása</h2>
                <div class="container d-flex justify-content-center">
                    <div class="row">
                        <div class="control-group" id="fields">
                            <label class="control-label" for="field1"></label>
                            <div class="controls">
                                <%- include('../msg')%>
                                <form action="/forum/user/<%= user._id%>/edit" method="POST" role="form" autocomplete="off">
                                        <label>
                                            <input type="radio" name="img" value="/profilimages/profil-image01.jpg" checked>
                                            <img src="/profilimages/profil-image01.jpg">
                                          </label>
                                        <label>
                                            <input type="radio" name="img" value="/profilimages/profil-image02.jpg" checked>
                                            <img src="/profilimages/profil-image02.jpg">
                                          </label>
                                        <label>
                                            <input type="radio" name="img" value="/profilimages/profil-image03.jpg" checked>
                                            <img src="/profilimages/profil-image03.jpg">
                                          </label>
                                        <label>
                                            <input type="radio" name="img" value="/profilimages/profil-image04.jpg" checked>
                                            <img src="/profilimages/profil-image04.jpg">
                                          </label>
                                        <label>
                                            <input type="radio" name="img" value="/profilimages/profil-image05.jpg" checked>
                                            <img src="/profilimages/profil-image05.jpg">
                                          </label>

                                    <!-- <input style="width: 300px" class="form-control" type="text" name="img" value="<%=user.img%>">  -->
                                    <div class="text-center"> 
                                        <button style="width: 150px;" class="btn btn-warning mb-3">Mentés</button>
                                    </div>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="btn btn-success btn-sm mb-3" href="/forum/">Vissza</a>
           </div>
    </div>                 
<%- include('../footer')%>